/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2014, 9:07:52 PM
    Author     : dan mcginnis
*/

            body {
                font-family: "Tahoma", "Helvetica", "Arial", sans-serif;
                background-image: url(images/campsite_background_by_dipi11.png);  /* Pic size:200-300K, but for sure <500K. Put in folder "images" */
                /*Background image courtesy of http://www.tonyjohnson.info/ */
                background-repeat: no-repeat;
                background-size: cover;  /* bg pic will stretch when window is resized */
                background-color: #6e7343; /* select color that matches your bg pic */
                opacity:0.75;
            }
            
            #container {
                width:85%;  
                margin:auto;  /* this means center the container div (itself, not its contents) */
                font-size: 14px;
                min-width: 750px;  /* if user tries to size smaller than this, scroll bar will kick in. */
            }
            
            #title {
                color: #a17438;
                font-weight: bold;
                font-size: 30px;
                letter-spacing: 2px;
            }
            
            #nav {
            }
            
            .tab {
                width:12%;
                float:left;
                font-size:22px;
                min-width:100px; /* tab will only get this narrow when user sizes down window */
                text-align:center;
                background-color:#9b9b57;
                border-top-left-radius:10px;               
                border-top-right-radius:10px;   
                margin:auto; 
                color: #1b1b24;
             }
             
            .tab:hover { 
                background-color:#76a791;
                color: #a5d6e1;
            }
            
            .tab a {
                text-decoration: none;
            }
            
            .tab a:link {
                color:#023e56;
            }
            
            .tab a:visited {
                color:#023e56;
            }
            
            .newLine {
                clear:both;
            }
            
            #content {
                color:#023e56;
                font-size: 18px;
                clear:both;
                margin:0px;
            }
            
            .selected {
                background-color:#9b9b57;
            }
            
            #footer {
                background-color:#9b9b57;
                text-align: right;
                color: #023e56; 
            }
            
            #footer a {
                text-decoration: none;
                color: #023e56;
            }
            
            img {
                float:left;   
                margin: 10px;
                margin-top:0px;
                margin-bottom:15px;
            }
            
            #themeSelector {
                background-color:#9b9b57;
                text-align: left;
                color: #1b1b24; 
                font-size: 15px;
            }
            
            .resultSetFormat th {
                text-align: center;
                border: medium solid #cb6b24; 
                background-color:#159bb9; 
                padding:5px;
                color: #010100;
            }
            
            .resultSetFormat td {
                text-align: right;
                border: thin solid #cb6b24; 
                background-color:#052c35; 
                padding:5px;
                color: white;
            }
            